@use '@styles/variables' as v;

.form {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 1rem;
	max-width: 800px;

	label {
		display: block;
		margin: 0 0 v.$spacing-1 0;
	}

	select {
		display: block;
		width: 100%;
	}

	& > * {
		grid-column: 1 / end;
	}

	.postalCode {
		grid-column: 1 / 4;
	}

	.city {
		grid-column: 4 / end;
	}

	.price {
		grid-column: 1 / 5;
	}

	.type {
		grid-column: 5 / 8;
	}

	.condition {
		grid-column: 8 / 12;
	}

	.surface {
		grid-column: 1 / 4;
	}

	.rooms {
		grid-column: 4 / 7;
	}
}
