@use '@styles/variables' as v;

.preview {
	position: relative;
	margin: 0 0 v.$spacing-2 0;
	border-radius: v.$border-radius;
	// Hide img's border radius
	overflow: hidden;

	.photo {
		z-index: 2;

		// Overlay
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 1000000px inset;
			z-index: 3;
			width: 100%;
			height: 100%;
		}
	}
	.price {
		position: absolute;
		bottom: 0;
		left: 0;
		color: v.$font-color-primary;
		margin: 0 0 0 v.$spacing-4;
		font-size: v.$font-size-4;
		z-index: 3;
		font-weight: v.$font-weight-bold;
	}
}

.content {
	padding: 0 v.$spacing-padding v.$spacing-padding;

	.location {
		color: v.$font-color-secondary;
		margin: 0 0 v.$spacing-2;

		.postalCode {
			margin: 0 v.$spacing-1 0 0;
		}
	}
}

.info {
	display: flex;

	& > * {
		margin: 0 v.$spacing-3 0 0;
	}
}
