@use '@styles/variables' as v;

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.pageContent {
		max-width: 450px;
	}

	.logoSection {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		margin: 0 0 v.$spacing-margin 0;
	}

	.title {
		font-size: v.$font-size-3;
	}
}
