@use '@styles/variables' as v;

.content {
	display: flex;
	align-items: flex-start;
	padding: v.$spacing-padding v.$spacing-6 v.$spacing-padding v.$spacing-padding;

	.housingContent {
		margin: 0 v.$spacing-6 0 0;

		.info {
			p {
				color: v.$font-color-secondary;
				margin: 0 0 v.$spacing-2 0;
			}
		}

		.address {
			line-height: 0.8;
		}

		.priceValue,
		.priceDevise,
		.availableDateValue {
			font-weight: v.$font-weight-bold;
		}

		.address,
		.postalCode {
			font-size: v.$font-size-2;
			font-weight: v.$font-weight-bold;
		}

		.descriptionTitle {
			font-size: v.$font-size-4;
			font-weight: v.$font-weight-bold;
			margin: v.$spacing-margin 0 v.$spacing-2 0;
		}
	}
}
