@use '@styles/variables' as v;

.content {
	// position: relative;
	display: flex;
	align-items: flex-start;
	padding: v.$spacing-padding;

	.housingContent {
		// max-width: 500px;
		// font-size: v.$font-size-4;
		margin: 0 v.$spacing-6 0 0;

		.address {
			line-height: 0.8;
		}

		.priceValue,
		.priceDevise {
			font-weight: v.$font-weight-bold;
		}

		.address,
		.postalCode {
			font-size: v.$font-size-2;
			font-weight: v.$font-weight-bold;
		}

		.descriptionTitle,
		.visitTitle {
			font-size: v.$font-size-4;
			font-weight: v.$font-weight-bold;
			margin: v.$spacing-margin 0 v.$spacing-1 0;
		}
	}
}
