@use '@styles/variables' as v;

.app_nav_menu {
	.nav_title {
		font-weight: v.$font-weight-bold;
		margin: 0 0 v.$spacing-4 0;
		font-size: v.$font-size-4;
	}
	.nav_item {
		margin: 0 0 v.$spacing-3;

		&:hover {
			background: v.$color-background;
		}

		&:last-child {
			margin: 0;
		}
	}

	a {
		display: flex;
		align-items: center;
		color: v.$font-color-secondary;
		font-size: v.$font-size-base;
		padding: v.$spacing-1;
	}

	.icon {
		display: inline-block;
		margin: 0 v.$spacing-3 0 0;
		width: 26px;
		height: 26px;
		color: v.$color-neutral-gray-light;
	}

	.is_active {
		background: v.$color-primary;
		border-radius: v.$border-radius;
		color: v.$font-color-primary;

		.icon {
			color: v.$font-color-primary;
		}
	}
}
